body{
    overflow-x: hidden;
}

hr{
    background-color: black;
}

.imgloading{
    left: 0;
    right: 0;
    top: 0;
    width: 50%;
    height: auto;
    margin-left: 450px;
}

.fs{
    font-size: 150%;
}

.current{
    color: #0D444F;
}

.fc{
    width: 400px;
    margin-left: 50px;
}
 
.mln{
    margin-left: 350px;
}

.test{
    padding: 30px;
}

.custom-switch{
    margin-left: 25rem;
}

.gray{
    background-color: gray;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    position: fixed;
    display: none;
}

.popup{
    background-color: white;
    width: 900px;
    height: 900px;
    z-index: 2;
    top:50%;
    left:50%;
    margin-left:-450px;
    margin-top:-450px; 
    position: fixed;
    display: none;
}

.popup .card{
    height: 150px;
}

.popup .ajaxcall{
    display: none;
}

.popup .switch{
    display: none;
}

.fa-window-close{
    font-size: 250%;
    margin-left: 850px;
}

.save{
    margin-left: 750px;
    margin-top: -45px;
}

.arraychecker{
    margin-top: 10px;
    margin-left: 15px;
}

.switch {

    position: absolute;
    right: 10px;
    top: 10px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

.mln2{
    margin-left: 180px;
}

.mln3{
    margin-left: 120px;
    margin-bottom: 50px;
    height: 100px;
    width: 150px;
}

.popuphover:hover{
    background-color: dodgerblue;
}

div.panel {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    transition: 0.3s;
    margin-top: 5px;

}
div.panel.show{
    opacity: 1;
    max-height:500px ;
}

.parallax{
    /* The image used */
  background-image: url("https://images.wallpaperscraft.com/image/dollar_currency_money_106888_1920x1080.jpg");

  height: 500px; 
  width: 10000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

